<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ludgo.android.spotifyplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ArtistListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ArtistDetailActivity"
            android:parentActivityName=".ui.ArtistListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistListActivity" />
        </activity>
        <activity
            android:name=".ui.TrackPlayerActivity"
            android:parentActivityName=".ui.ArtistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistDetailActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings"
            android:theme="@style/SettingsTheme" />

        <service
            android:name=".service.SpotifyPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="PLAY_SPOTIFY" />
            </intent-filter>
        </service>
    </application>

</manifest>
